.navbar-brand {
    margin-left:3rem;
}
.navbar {
    background-color:white; 
    font-family: 'Barlow', sans-serif;  
    font-size:0.9rem;
    padding:1rem 2rem;
}
.nav-item{
    padding-right: 2.5rem;
 }

.about h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
 }
.photo {
    background-repeat: no-repeat;
    padding-left: 3rem;

 }
.photo img {
    width: auto;
    height: 550px;
 }

.content {
     padding-left: 3rem; margin-top: 3rem; margin-bottom: 3rem;
 }

.content p {
    font-family: 'Barlow', sans-serif; 
    line-height: 2rem;
}
.content h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    margin-top: 3rem;
}
.email {
     color:black;
}

#contactform {
    font-family: 'Barlow', sans-serif; 
    padding: 2rem; 
    border-radius: 0; 
}
.contact h3 {
    margin-top: 4rem;
}
    
.btn-primary { 
    width: 8rem; 
    font-family: 'Barlow', sans-serif; 
    letter-spacing:0.3rem;
    font-size: 0.8rem;
    color:white; 
    border-radius: 0; 
    border-color: black;
    background-color: black;

}

.btn-view {
    width: 10rem; 
    font-family: 'Barlow', sans-serif; 
    letter-spacing:0.2rem;
    font-size: 0.8rem;
    color:white; 
    border-radius: 0; 
    border-color: black;
    background-color: black;

}

.button-arrow {
    position: absolute;
    left: 50%;
    bottom: 7.5em;
    overflow: hidden;
}
.button-arrow a {
    position: absolute;
    z-index: 1000;
    transform: translateX(-50%);
    transition: opacity .5s, visibility .5s;
    transition-delay: 3s;
    overflow: hidden;
    animation: bounce 2s infinite;
}
.icon-down-open-big {
    font-size: 2rem;
    color: #FF5555;
}

@-webkit-keyframes bounce {
    0%   { top: 0px; }
    50%  { top: -10px; }
    100% { top: 0px; }
}

@keyframes bounce {
    0%   { top: 0px; }
    50%  { top: -10px; }
    100% { top: 0px; }
}
