html {
    scroll-behavior: smooth;
  }
.navbar-brand {
    margin-left:3rem;
}
.navbar {
    background-color:transparent; 
    padding: 1rem 2rem 0.5rem 2rem;
    margin-bottom: 0;
}
.navbar-default {
        background-color: transparent !important;
        border-color: transparent;
        background-image: none;
        box-shadow: none;
}
.nav-item{
    padding-right: 1.3rem;
    letter-spacing: 0.3rem;
 }
 .nav-item a {
    font-family: 'Barlow', sans-serif;
    font-size: 0.85rem;
    padding-right: 2.5rem;
    letter-spacing: 0.3rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
 }
 .nav-item:hover a {
    color:#FF5555;
    transition: all .3s ease-in-out;
 }

/* font */
h2 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
}
h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
}
h4 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:1.8rem;
}
h5 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size:1.1rem;
    color:#3d3d3d;
    margin-bottom: 1.8rem;
}

h6 {
    font-family: 'Barlow', sans-serif; 
    font-size:0.9rem;
    text-transform:uppercase;
    color:#3d3d3d;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
    line-height: 2.2rem;
    color: #28282E; 
}
small {
    text-transform:uppercase;
}

 /* hero */
 .jumbotron {
    background-color: #0288D1;
    background-size: cover;
    height:500px;
    padding: 0;
  }

.jumbotron .container {
    height: 600px;
    padding: 0;
    background-image: url('../Img/shopgoodwill/shopgoodwill-bg\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron .dash {
    color:white;
}
.jumbotron .container .col-xl-4 {
    margin-top: 5rem;
}
.fullheight {
    padding: 0;
}
.jumbotron p {
    padding-top: 1rem;
    font-family: 'Barlow', sans-serif; 
    color:white;
    font-size: 16px;
    line-height: 1.7rem;
    letter-spacing: 1px;
}
.display-3 {
    font-family: 'Noto Serif', sans-serif; 
    font-size:3.5rem;
    color:white;   
    letter-spacing: 0.4rem;
    padding-top:2.5rem;
}
.hero .col-md-4 {
    padding-top: 7rem;
}
.hero .dash {
    width: 2rem;
    border-top: .15rem solid;
    position: absolute;
    margin-top: 0.5rem;
}

/* Proposal */
.Proposal {
    margin-top: 6rem;
    height: auto;
    padding: 4rem 0 3rem 0;
    margin-bottom: 3rem;

}
.Proposal h3 {
    margin: 2rem 0;
}
.Proposal strong {
    font-weight: 500i;
}
.Proposal .dash {
    width: 2rem;
    border-top: .15rem solid;
    position: absolute;
    margin-top: 0.5rem;
}
.Proposal .Deliverable {
    list-style: none;
    padding-inline-start: 0;
    line-height: 2rem;
    font-family: 'Barlow', sans-serif; 
    font-size: 1.1rem;
}
.Proposal ul li a{
    text-decoration: none;
    color:#28282E;
}
.Proposal ul li:hover a {
    color:#0288D1;
}

/* section2 */
.skewed-bg {
    background:#e9ecef;
    height: auto;
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 110px;
    transform: skew(0deg, 5deg);  
}
.content2 .row h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    color:black;
    transform: skew(0deg, -5deg);  
}
.content2 h5 {
    transform: skew(0deg, -5deg);  
}
.content2 .dash {
    transform: skew(0deg, -5deg);
    margin-bottom: 2rem;    
    width: 2rem;
    position: absolute;
    border-top: .15rem solid;
    margin-top: 1rem;
}
.content2 .row p {
    line-height: 1.8rem; 
    padding-top: 2rem;
    padding-bottom: 8px;
    transform: skew(0deg, -5deg);  
}
.content-user {
    padding-left: 5rem;
    margin-left: 5rem;
}
.solution{
    padding-left: 3rem;
}
.survey-img1 {
    width:95%; 
    margin-left: 50px;  
    margin-bottom: 15px;
}
.survey-img2{
    width:95%;  
    margin-right: 20px;  
    margin-bottom: 15px;
}

/* section3 - 1 */
.wrap {
    background-image: url('../Img/shopgoodwill/Isometric\ Web\ Mockup_hi\ copy.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
    margin-top: 6rem;
    background-attachment: fixed;
}

.section3 {
    margin-top: 100px;
}
.content3-1 .icon-search {
    margin-bottom: 1.4rem;
    font-size:2.2rem;
}
.content3-1 .quote {
    margin-bottom: 1.4rem;
    font-size:1.2rem;
    color:darkgray;
}
.content3-1 .icon-quote-right {
    padding-left: 24rem;
    font-size:1.2rem;
    color:darkgray;
}

.content3-1 .reivews {
    line-height: 2rem;
    padding-top: 5rem;
}
.content3-1 h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
}

.content3-1 p {
    font-family: 'Barlow', sans-serif; 
    color:black;
    line-height: 1.8rem;
    font-size: 1.3rem;
    margin-bottom: 0;
}


/* section3 */
.section3 img {
    margin-top: 1.4rem;
}
.content3 h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
}
.content3 p{
    font-family: 'Barlow', sans-serif; 
    color:black;
    margin-bottom: 0;
    margin-top: 3rem;
}
.content3 .row h4 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:1.6rem;
    margin-top: 1.5rem;
}
.content3 i {
    font-size: 2.2rem;
}
.content3 .dash {
    width: 2rem;
    border-top: .15rem solid;
    position: absolute;
    margin-top: 0.5rem;
}

/* section4 */
.section4 {
    margin-top: 100px;
}
.content4 {
    padding-top: 6rem; 
}
.content4 p {
    line-height: 1.5rem;
}
.section4 .dash {
    top:4.7rem;
    width: 2rem;
    border-top: .15rem solid;
    margin-top: 0.5rem;
}

/* section5 */
.skewed-bg2 {
    background:#e9ecef;
    height: auto;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-transform: skew(0deg, -5deg);  
    -moz-transform: skew(0deg, -5deg);  
    -ms-transform: skew(0deg, -5deg);  
    -o-transform: skew(0deg, -5deg);  

    transform: skew(0deg, -5deg);  
}
.content5 .row img {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    -webkit-transform: skew(0deg, 5deg);  
    -moz-transform: skew(0deg, 5deg);  
    -ms-transform: skew(0deg, 5deg);  
    -o-transform: skew(0deg, 5deg);  
    transform: skew(0deg, 5deg);  
}
.content5 h3 {
    color:black;
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    -webkit-transform: skew(0deg, 5deg);  
    -moz-transform: skew(0deg, 5deg);  
    -ms-transform: skew(0deg, 5deg);  
    -o-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);  
}
.content5 p {
    font-family: 'Barlow', sans-serif; 
    color:black;
    line-height: 1.5rem;
    -webkit-transform: skew(0deg, 5deg);  
    -moz-transform: skew(0deg, 5deg);  
    -ms-transform: skew(0deg, 5deg);  
    -o-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);  
}

/* section6 */
.section6 {
    margin-top: 100px;
}
.content6 h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
}
.content6 p {
    font-family: 'Barlow', sans-serif; 
    color:black;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}
.content6 .line::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background: black;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
    }

/* section7 */
.section7 {
    background:#e9ecef;
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 30px;
}
.content7 h3{
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    margin-top: 2rem;
    color:black;
}
.content7 p {
    font-family: 'Barlow', sans-serif; 
    color:black;
    line-height: 1.5rem;
}
.section7 .line::after {
    content: '';
    position: absolute;
    top:90px;
    height: 2px;
    width: 40px;
    background: black;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
    }

/* section8 */

.section8 {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.content8 h3{
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    margin-top: 2rem;
}
.content8 p {
    font-family: 'Barlow', sans-serif; 
    line-height: 1.5rem;
}
/* /* section9 / */

.skewed-bg3 {
    background:#e9ecef;
    height: auto;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-transform: skew(0deg, 5deg);  
    -moz-transform: skew(0deg, 5deg);  
    -ms-transform: skew(0deg, 5deg);  
    -o-transform: skew(0deg, 5deg);  

    transform: skew(0deg, 5deg);  
}

.content9 h3 {
    color:black;
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    -webkit-transform: skew(0deg, -5deg);  
    -moz-transform: skew(0deg, -5deg);  
    -ms-transform: skew(0deg, -5deg);  
    -o-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);  
}
.content9 img {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
    -webkit-transform: skew(0deg, -5deg);  
    -moz-transform: skew(0deg, -5deg);  
    -ms-transform: skew(0deg, -5deg);  
    -o-transform: skew(0deg, -5deg);  
    transform: skew(0deg, -5deg);  
}
.content9 p {
    font-family: 'Barlow', sans-serif; 
    color:black;
    line-height: 1.5rem;
    -webkit-transform: skew(0deg, -5deg);  
    -moz-transform: skew(0deg, -5deg);  
    -ms-transform: skew(0deg, -5deg);  
    -o-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);  
}
.img-box {
    margin-bottom: 8rem;
}


/* section10 */
.section10 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.content10 h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:2rem;
}
.content10 p {
    font-family: 'Barlow', sans-serif; 
    color:black;
    line-height: 1.8rem;
    padding-bottom: 1.5rem;
}


/* previous next */
.section11 {
    height: 250px;
    margin: 0;
    background-color: #28282E;
    padding-top: 4rem;
}
.textbox {
    color:#28282E;
    text-decoration: none;
}
.textbox h3 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-size:1.5rem;
    letter-spacing: 1px;
    margin-top: 0.8rem;
}
.textbox span {
    font-family: 'Barlow', sans-serif; 
    font-size:0.8rem;
    color:#60717A;
    letter-spacing: 0.4rem;
}

.textbox p {
    font-family: 'Barlow', sans-serif; 
    font-size:1rem;
    color:#60717A;
    letter-spacing: 0.5px;
}
.textbox i {
    font-size: 1.5rem;
}
.textbox:hover .left {
    display: inline-block;
    color:#FF5555;
    transform: translate(-5px, 0px);
    -webkit-transform: translate(-5px, 0px);
    -moz-transform: translate(-5px, 0px);
    -o-transform: translate(-5px, 0px);
    
    transition: transform 0.2s ease-in-out;
}
.textbox:hover .right {
    display: inline-block;
    color:#FF5555;
    transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    -moz-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    
    transition: transform 0.2s ease-in-out;
}


/* up button */
#uparrow {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    cursor: pointer; 
    position: fixed;
    text-indent: 100;
    overflow: hidden;
    color:#FF5555;
    font-size: 2rem; 
    transition: all 0.3 ease-in-out;
}
#uparrow:hover {
    transform: scale(1.1);
}


/* media */

@media (max-width: 992px){
  .container {
    padding: 0 2em;
    height: 1000px;
  }
.jumbotron .container {
    height: 600px;
    padding: 0;
    background-image: url('../Img/shopgoodwill/shopgoodwill-bg.png');
    background-size: 700px;
    background-position: center 150%;
    background-repeat: no-repeat;
}

.display-3 {
    font-family: 'Noto Serif', sans-serif; 
    font-size:3.5rem;
    color:white;   
    letter-spacing: 0.4rem;
    padding-top:2.5rem;
}
.display-3 p {
    padding-top: 0;
}
.hero .col-md-4 {
    padding-top: 7rem;
}
.hero .dash {
    width: 2rem;
    border-top: .15rem solid;
    position: absolute;
    margin-top: 0.5rem;
}
.section4 .container {
    padding: 5rem 2em;
    height: 1300px;
}

  /* section3 */

    .content3 .row h3{
    font-size:1.7rem;
  }
    .content3 .row h4{
    font-size:1.5rem;
    width: 25%;
  }
    .content-user p {
    font-size:0.9rem;
  }
    .content-user {
    margin-top: 3rem;
    padding: 15px;
}
    .survey-img1 {
    width: 100%;
    margin-left: 0px;
}
    .survey-img2 {
    width: 100%;
    padding-left:0px;
    margin-left: 0px;
}
     /* section9 */
.content9 .img-box {
    width: 100%;
    margin:auto;
}

}


@media (max-width: 992px){
    .jumbotron .container .col-xl-4 {
        margin-top: 2rem;
    }
    .display-3 {
        text-align: left;
        padding-top: 1rem;
        font-size:3rem;
        color:white;   
    }
    .jumbotron p {
        padding-top: 0.2rem;
        font-family: 'Barlow', sans-serif; 
        color:white;
        font-size: 16px;
        line-height: 1.7rem;
        letter-spacing: 0.7px;
    }
  }
@media (max-width: 768px) {
    /* hero */
    .jumbotron .container {
        padding: 0 2em;
        overflow-wrap: break-word;
        text-align: center;
    }
    .hero {
        padding-bottom: 4rem;
    }
    small {
        text-align: center;
    }
    .jumbotron .dash {
    position: inherit;
    margin-top: 0.5rem;
    }
    .jumbotron .container .col-xl-4 {
        margin-top: 2rem;
    }
    .jumbotron p {
        text-align: center;
        padding-top: 0rem;
        font-family: 'Barlow', sans-serif; 
        color:white;
        font-size: 16px;
        line-height: 1.7rem;
        letter-spacing: 0.7px;
    }
    .display-3 {
        text-align: center;
        padding-top: 0.8rem;
        font-family: 'Noto Serif', sans-serif; 
        font-size:3rem;
        color:white;   
    
    }
    .jumbotron .container .col-xl-4 {
        margin-top: 1.5rem;
    }
    /* section1 */
    .content-1 .content-box{
        margin-bottom: 3.5rem;
    }
    .pl-5 {
        padding-left: 0px;
    }

    /* section2 */
    .solution{
        padding: 1rem;
        padding-top: 3rem;
    }
    .section2{
        margin-top:50px;
        padding-bottom: 90px;
    }

    /* section3 */

    .content3 img {
        margin-left: 0px;
    }
    .content-user {
        margin-top: 3rem;

    }
    .survey-img1 {
        width: 100%;
    }
    .survey-img2 {
        width: 100%;
        padding-left:0px;
    }
    /* section7 */
    .section7 {
        padding-top: 2.5rem;  
    }
    .section7 img{
        padding-top: 1.5rem;  
    }
    /* section8 */
    .section8 img {
        margin-bottom: 3rem;
    }
    /* next-before */
    .section11 {
        height: auto;
    }
    .next {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}


@media (max-width: 576px){
.jumbotron { 
    padding: 0;   
}
.jumbotron .container {
    height: 600px;
    padding: 0;
    background-image: url('../Img/shopgoodwill/shopgoodwill-bg.png');
    background-size: 500px;
    background-position: center 80%;
    background-repeat: no-repeat;
}
.display-3 {
    font-family: 'Noto Serif', sans-serif; 
    font-size:2.5rem;
    color:white;   
    letter-spacing: 0.2rem;
    padding-top:2.5rem;
}
}
