html {
    scroll-behavior: smooth;
  }
.navbar-brand {
    margin-left:3rem;
}
.navbar {
    background-color:white; 
    padding:1rem 2rem;
}
.nav-item{
    padding-right: 1.3rem;
    letter-spacing: 0.3rem;
 }
 .nav-item a {
    font-family: 'Barlow', sans-serif;  
    font-size:0.85rem;
    padding-right: 2.5rem;
    letter-spacing: 0.3rem;
    color:#3d3d3d;
    text-decoration: none;
    font-weight:600;
 }
 .nav-item:hover a {
    color:#FF5555;
    transition: all .3s ease-in-out;
 }

/* hero */
 
.display-4 {
    font-family: 'Noto Serif KR', sans-serif; 
    font-weight: 200; 
    padding-top: 2rem;
    margin-bottom: 4rem; 
    line-height:5rem; 
    font-size: 3.125rem;
}

.jumbotron{ 
    background: white;
}

h1{
    font-family: 'fontello';
}

.btn { 
    border:0px; 
    color:#FF5555;
}

.icon-hand-peace-o {
    color: #FF5555;
}

.icon-emo-sunglasses {
    color: #FF5555;
}

strong {
    font-weight: 500;
}

/* header */

/* projects */
.media-body {
    margin: 3.125rem 0 1.875rem 0;
}
.headline {
    margin-bottom: 1.875rem; 
    font-size: 2.0625rem; 
    font-family: 'Noto Serif', serif;
}

.text-box{
    padding:4rem;
}

.img-box {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.img-fluid {
    transition: all 0.4s ease-in-out;
    -webkit-filter: brightness(100%);
}
.img-fluid:hover {
    background-color: black;
    background-blend-mode: multiply;
    transform: scale(1.05);
}

.text {
    color: white;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 2rem;
  }
.content { 
    height: auto;
}

.contact { 
    padding: 1rem 0;
}
.content h3 { 
    font-family: 'Noto Serif KR', sans-serif; 
    font-size: 2rem;
    margin-top: 10px;
    color: #000;
}
.content p { 
    font-family: 'Barlow', sans-serif; 
    font-size: 1rem;
    line-height: 2rem;
}

#contactform {
    font-family: 'Barlow', sans-serif; 
    padding: 2rem; 
    border-radius: 0; 
  
    /* buttons */
}
.btn-primary { 
    width: 8rem; 
    font-family: 'Barlow', sans-serif; 
    letter-spacing:0.3rem;
    font-size: 0.8rem;
    color:white; 
    border-radius: 0; 
    border-color: black;
    background-color: black;
}

.btn-secondary { 
    width: 8rem; 
    font-family: 'Barlow', sans-serif; 
    letter-spacing:0.3rem;
    font-size: 0.8rem;
    color:white; 
    border-radius: 0; 
    border-color: black;
    background-color: black;
}

#button-arrow {
    position: relative;
    left: 47.5%;
    bottom: 8%;
    transition: opacity .5s, visibility .5s;
    transition-delay: 3s;
    overflow: hidden;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.icon-down-open-big {
    font-size: 2rem;
    color: #FF5555;
}

.btn-right {
    margin-top: 0.9rem;
    font-family: 'Barlow', sans-serif; 
    letter-spacing:0.2rem;
    font-size: 0.8rem;
    color:#0169D9;
    transition: all .3s ease-in-out;
}
.btn-right:hover {
    color:#FF5555;
    font-weight: 700;
    font-size: 0.825rem;
}
.btn-left {
    margin-top: 0.9rem;
    font-family: 'Barlow', sans-serif; 
    letter-spacing:0.2rem;
    font-size: 0.8rem;
    color:#0169D9;
    transition: all .3s ease-in-out;
}

.btn-left:hover {
    color:#FF5555;
    font-size: 0.825rem;
    font-weight: 700;
}

/* up button */
#uparrow {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    cursor: pointer; 
    position: fixed;
    text-indent: 100;
    overflow: hidden;
    color:#FF5555;
    font-size: 2rem; 
    transition: all 0.3 ease-in-out;
}
#uparrow:hover {
    transform: scale(1.1);
}








@-webkit-keyframes bounce {
    0%   { top: 0px; }
    50%  { top: -10px; }
    100% { top: 0px; }
}

@keyframes bounce {
    0%   { top: 0px; }
    50%  { top: -10px; }
    100% { top: 0px; }
}





/* media */


@media (max-width: 768px) {

    .content {
        width: 100%;
}
    #contactform { 
        width: 80%;
    }
    .display-4 {
        font-size: 2.25rem;
        line-height: 3.4375rem;
    }
    .Project{
        margin-bottom: 1.875rem;
        font-size: 1.7rem; 
        font-family: 'Noto Serif', serif;
    }
}

@media (max-width: 992px){
 .contact {
    font-size: 0.875rem;
 }
 .content {
   align-content: center; 
   margin-left: 3%;
 }
 #contactform { 
     width: 90%;

 }
}
@media (min-width: 576px){
.jumbotron {
    padding: 2rem 2rem;
}
}

/* footer */
footer {
    background-color:#1B1B1C;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.footer-menu a { 
    font-family: 'Barlow', sans-serif;  
    font-size:0.85rem;
    letter-spacing: 0.3rem;
    color:white;
    text-decoration: none;
    font-weight:600; 
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.footer-menu:hover a { 
    font-family: 'Barlow', sans-serif;  
    color:#FF5555;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

