
.icon-align-right:before { content: '\e800'; } /* '' */
.icon-align-justify:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-emo-happy:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-wink:before { content: '\e805'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-hand-scissors-o:before { content: '\f257'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */