@font-face {
  font-family: 'arrow';
  src: url('../font/arrow.eot?17806913');
  src: url('../font/arrow.eot?17806913#iefix') format('embedded-opentype'),
       url('../font/arrow.woff2?17806913') format('woff2'),
       url('../font/arrow.woff?17806913') format('woff'),
       url('../font/arrow.ttf?17806913') format('truetype'),
       url('../font/arrow.svg?17806913#arrow') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'arrow';
    src: url('../font/arrow.svg?17806913#arrow') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "arrow";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-align-right:before { content: '\e800'; } /* '' */
.icon-align-justify:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-emo-happy:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-wink:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-mail-1:before { content: '\e80b'; } /* '' */
.icon-up-open-big:before { content: '\e80c'; } /* '' */
.icon-phone-1:before { content: '\e80d'; } /* '' */
.icon-github-text:before { content: '\e80e'; } /* '' */
.icon-facebook-rect-1:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-left-hand:before { content: '\e815'; } /* '' */
.icon-right-hand:before { content: '\e816'; } /* '' */
.icon-left-1:before { content: '\e817'; } /* '' */
.icon-right-1:before { content: '\e818'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-hand-scissors-o:before { content: '\f257'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-linkedin-rect-1:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */